# Backend
WUXING_BACKEND_HOST=0.0.0.0
WUXING_BACKEND_PORT=8000
WUXING_CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000

# Mobile
WUXING_MOBILE_HOST=0.0.0.0
WUXING_MOBILE_PORT=3000
NEXT_PUBLIC_API_BASE=http://127.0.0.1:8000
